<h1>Edit-A-Band</h1>

<form class="ui form" action="<%= band_url(@band) %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <input type="text" name=band[name] value="<%= @band.name %>" placeholder="Band Name">

    <input type="submit" class="ui button" value="Edit Band">
</form>